:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 15px;

  /* colors */
  --oui-color-primary: 96 84 108;
  --oui-color-primary-light: 132 116 148;
  --oui-color-primary-darken: 68 58 88;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 132 116 148;
  --oui-color-link-light: 161 141 171;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 227 53 74;
  --oui-color-danger-light: 240 108 133;
  --oui-color-danger-darken: 213 39 57;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 199 145;
  --oui-color-success-light: 92 217 173;
  --oui-color-success-darken: 14 161 103;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 217 164 36;
  --oui-color-warning-light: 240 205 93;
  --oui-color-warning-darken: 193 125 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 38 48;
  --oui-color-fill-active: 44 42 58;

  --oui-color-base-1: 61 55 81;
  --oui-color-base-2: 52 46 71;
  --oui-color-base-3: 43 38 61;
  --oui-color-base-4: 36 32 56;
  --oui-color-base-5: 30 26 49;
  --oui-color-base-6: 24 20 44;
  --oui-color-base-7: 66 60 86;
  --oui-color-base-8: 18 16 31;
  --oui-color-base-9: 12 11 26;
  --oui-color-base-10: 6 5 20;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 227 53 74;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 199 145;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 80 68 108;
  --oui-gradient-primary-end: 112 92 128;

  --oui-gradient-secondary-start: 64 54 96;
  --oui-gradient-secondary-end: 96 84 116;

  --oui-gradient-success-start: 24 152 112;
  --oui-gradient-success-end: 44 212 132;

  --oui-gradient-danger-start: 192 32 64;
  --oui-gradient-danger-end: 232 64 96;

  --oui-gradient-brand-start: 200 180 220;
  --oui-gradient-brand-end: 160 140 180;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 184 128 0;
  --oui-gradient-warning-end: 224 192 64;

  --oui-gradient-neutral-start: 32 28 40;
  --oui-gradient-neutral-end: 48 42 56;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px !important;
}